/*--------------MEDIA  QUERIES--------------------------*/
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 400px) and (max-width: 768px) {
  /*-------HEBERGEMENT------*/

  #gros {
    flex-direction: column-reverse;
  }

  /*-------POPULAIRE-------*/

  /*-----ACTIVITE------*/
  #activite {
    flex-direction: column;
  }

  /*--------FOOTER---------*/
  footer {
    flex-direction: column;
  }

  #propos {
    margin-bottom: -18px;
  }

  #assistance {
    margin-left: 0;
  }
}

/*-------------------------------------------HEADER-------------------------------*/
header {
  margin: 2em;
}

/*----------Barre de recherche-------------*/
.navbarlogo {
  position: absolute;
  left: 0;
  margin: 3em;
  width: 20px;
}

form {
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 10px;
  padding-top: 1em;
}

#loc {
  background-color: #f2f2f2;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#loc i {
  color: black;
}

input[type="submit"] {
  background-color: #0065fc;
  color: white;
  width: 89px;
  height: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: transparent;
}

input[type="text"] {
  width: 180px;
  height: 30px;
  border: transparent;
}

.bande {
  border-top: solid;
  border-color: blue;
  padding-top: 16px;
  margin-top: -20px;
}
/*------------------NAV AVEC ROND---------------------------*/

nav li {
  list-style-type: none;
  display: flex;
  margin-left: 10px;
}

.icone {
  background-color: #deebff;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(15px);
  position: absolute;
  margin-left: -7px;
  margin-top: 5px;
}

.nav2 a {
  border-radius: 19px;
  border: solid;
  border-left: 0px;
  padding: 8px;
  border-width: 2px;
  margin-top: 5px;
  margin-left: 8px;
  border-color: #f2f2f2;
  padding-left: 40px;
  border-width: 1px;
  font-size: 12px;
}

i {
  color: blue;
}

.nav2 {
  display: flex;
  padding-top: 1em;
}

.filtre {
  position: absolute;
  left: 0;
  margin: 2em;
  font-size: 12px;
}

/*-------------------------------------*/
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  font-weight: lighter;
}

.act {
  color: black;
}

nav a {
  text-decoration: none;
  color: #0065fc;
  font-weight: bolder;
  font-size: 14px;
  margin: 15px;
}

header img {
  width: 10em;
  margin-top: -36px;
}

h2 a {
  font-size: 16px;
  color: black;
  padding: 6px;
  margin-left: 0.6em;
  text-decoration: none;
}

header p {
  font-size: 13px;
}

header h2 {
  padding-top: 34px;
  font-weight: bold;
  margin-left: -7px;
  padding-bottom: 1px;
  font-size: 17px;
}

/*-------------------------------------------------------------------------------*/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 2em;
}

#gros {
  display: flex;
}

figcaption {
  font-weight: bold;
  font-size: 12px;
}
/*------------------------------------------------------------------------------*/
#hebergement {
  background-color: #f2f2f2;
  width: 70%;
  border-radius: 10px;
  margin: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3em;
  padding-bottom: 3em;
}

#hebergement > * {
  margin: 0;
}

#firstblock {
  display: flex;
  flex-wrap: wrap;
}

#firstblock img {
  width: 100%;
  height: 109px;
  /*Pas besoin de mettre en pourcentage*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

#firstblock figure {
  background-color: white;
  border-radius: 10px;
  width: 274px;
  height: 180px;
  max-height: 50%;
  padding: 5px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.afficher {
  padding-top: 2em;
  font-weight: BOLD;
  font-size: 14px;
  padding-left: 13px;
}

.filtre li {
  font-weight: bold;
  margin-top: -9px;
  margin-left: 2em;
  font-size: 12px;
}

figure p {
  font-size: 12px;
}

/*----------------------------------------POPULAIRES---------------------------------*/
#secondblock {
  display: flex;
  flex-wrap: wrap;
}

#secondblock {
  font-size: 13px;
}

#populaire {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 20px;
}

#populaire img {
  width: 128px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

#populaire figure {
  background-color: white;
  border-radius: 10px;
  width: 85%;
  height: 120px;
  padding: 5px;
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-top: 4px;
}

#populaire h2 {
  margin-left: 2.5em;
  margin-top: 2em;
  font-weight: bold;
}

.fa-chart-line {
  color: black;
  width: 70px;
  float: right;
}

/*--------------------------------ACTIVITES---------------------------------------------------------*/
#act {
  width: 90vw;
  margin: 1em;
}

#activite {
  display: flex;
  margin: -3em;
  margin-top: 1em;
}

#act h2 {
  margin-bottom: -11px;
}

#act figcaption {
  font-size: 12px;
  font-weight: bold;
  padding: 1em;
}

/*--------1er type -----------------*/
.vp {
  background-color: white;
  border-radius: 10px;
  width: 340px;
  box-shadow: 5px 5px 5px #f2f2f2;
  height: 473px;
}

.vp img {
  width: 340px;
  height: 425px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

/*-------2eme type------------*/
.fp {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 225px;
  box-shadow: 5px 5px 5px #f2f2f2;
  margin-bottom: 6em;
}

.fp img {
  width: 300px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

/*--------3eme type-----------*/
.if {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 180px;
  box-shadow: 5px 5px 5px #f2f2f2;
  margin-bottom: 7em;
}

.if img {
  width: 300px;
  height: 130px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

/*--------------------------------------------FOOTER----------------------------------*/
footer {
  background-color: #f2f2f2;
  display: flex;
  padding: 5px;
  margin: -22px;
  margin-top: 30px;
}

footer div {
  margin: 40px;
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}

div p {
  line-height: 2px;
}

footer p {
  font-size: 12px;
}

footer h1 {
  font-size: 13px;
}

#propos {
  margin-right: 25em;
}

#assistance {
  margin-left: 25em;
}
/*--------------------css des étoiles *--------------------------------------------*/
.rating {
  width: 214px;
}

.fa-star {
  color: gray;
  cursor: pointer;
  padding: 0.0625rem;
}

.fa-star.gold {
  color: #0065fc;
}

/* Le groupe '.stars' positionne les étoilesles unes à côté des autres sans espacements. */
.stars {
  display: inline-flex;
  justify-content: center;
  font-size: 1em;
}

.stars:hover .fa-star {
  color: #0065fc;
}

/* Et si la souris survole une étoile en particulier,on sélectionne toutes les étoiles qui sont APRÈS celle-cigrâce à l'opérateur '~' et on les force en GRIS */
.stars .fa-star:hover ~ .fa-star {
  color: gray;
}

#secondblock .rating {
  margin-top: 47px;
}
/*----------------------------------------------------------------------------------*/

.fas fa-chart-line {
  width: 100px;
}

.nav2 li:hover {
  background-color: #f2f2f2;
}

/*--------------MEDIA  QUERIES--------------------------*/
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 400px) and (max-width: 1024px) {
  /*--------HEADER---------*/

  .nav2 a {
    border-radius: 19px;
    border: solid;
    border-left: 0px;
    padding: 8px;
    border-width: 2px;
    margin-top: 5px;
    margin-left: 8px;
    border-color: #f2f2f2;
    padding-left: 38px;
    border-width: 1px;
    font-size: 12px;
    padding-right: 14px;
  }

  /*-------HEBERGEMENT------*/

  #gros {
    flex-direction: column-reverse;
  }

  #hebergement {
    background-color: white;
  }

  #firstblock figure {
    box-shadow: 5px 5px 5px #f2f2f2;
    width: 100%;
    height: 210px;
  }

  /*-------POPULAIRE-------*/
  #populaire {
    width: 100%;

    border-radius: 0;
    margin: 0;
  }
  /*-----ACTIVITE------*/
  #activite {
    flex-direction: column;
  }

  #activite figure {
    width: 85%;
    height: 250px;
  }

  #activite img {
    width: 100%;
    height: 165px;

    object-fit: cover;
  }

  #act figcaption {
    font-size: 16px;

  /*--------FOOTER---------*/
  footer {
    flex-direction: column;
  }

  #propos {
    margin-bottom: -18px;
  }

  #assistance {
    margin-left: 4em;
    margin-top: -2em;
  }
}
