* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

/*-------------------------------------------HEADER-------------------------------*/
header {
  margin: 2em;
}

/*----------Barre de recherche-------------*/

.navbarlogo {
  width: 20px;
  padding-top: 10px;
}

form {
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 10px;
  padding-top: 1em;
}

#loc {
  background-color: #f2f2f2;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#loc i {
  color: black;
}

input[type="submit"] {
  background-color: #0065fc;
  color: white;
  width: 89px;
  height: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: transparent;
}

input[type="text"] {
  width: 180px;
  height: 30px;
  border: transparent;
}

.bande {
  border-top: solid;
  border-color: blue;
  padding-top: 16px;
  margin-top: -20px;
}
.nav1 {
  float: right;
}
/*------------------NAV AVEC ROND---------------------------*/

nav li {
  list-style-type: none;
  display: flex;
}

.icone {
  background-color: #deebff;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(15px);
  /* position: absolute; */
  margin-left: -7px;
  margin-top: 5px;
  margin-right: -27px;
}

.nav2 a {
  border-radius: 19px;
  border: solid;
  border-left: 0px;
  padding: 8px;
  border-width: 2px;
  margin-top: 5px;
  margin-left: 8px;
  border-color: #f2f2f2;
  padding-left: 40px;
  border-width: 1px;
  font-size: 12px;
}

i {
  color: blue;
}

.nav2 {
  display: flex;
  padding-top: 1em;
}

.filtre {
  /* position: absolute; */
  /* left: 0; */
  /* margin: 2em; */
  font-size: 12px;
  font-weight: bold;
  margin-top: 14px;
  /* margin-left: 34px; */
}

/*-------------------------------------*/
nav ul {
  list-style-type: none;
  display: flex;
  font-weight: lighter;
  flex-flow: wrap;
}

.act {
  color: black;
}

nav a {
  text-decoration: none;
  color: #0065fc;
  font-weight: bolder;
  font-size: 14px;
  margin: 15px;
}

header img {
  width: 10em;
  margin-top: -36px;
}

h2 a {
  font-size: 16px;
  color: black;
  padding: 6px;
  margin-left: 0.6em;
  text-decoration: none;
  padding-bottom: 14px;
}

header p {
  font-size: 13px;
}

header h2 {
  padding-top: 78px;
  font-weight: bold;
  margin-left: -7px;
  padding-bottom: 1px;
  font-size: 17px;
}

/*-------------------------------------------------------------------------------*/

body {
  margin: 2em;
  overflow-x: hidden;
}

#gros {
  display: flex;
}

p {
  font-weight: bold;
  font-size: 12px;
}
/*------------------------------------------------------------------------------*/
#hebergement {
  background-color: #f2f2f2;
  width: 70%;
  border-radius: 10px;
  margin: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3em;
  padding-bottom: 3em;
}

#hebergement > * {
  margin: 0;
}

#firstblock {
  display: flex;
  flex-wrap: wrap;
}

#firstblock img {
  width: 100%;
  height: 109px;
  /*Pas besoin de mettre en pourcentage*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

#firstblock figure {
  background-color: white;
  border-radius: 10px;
  width: 232px;
  height: 180px;
  max-height: 50%;
  padding: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.afficher {
  padding-top: 2em;
  font-weight: BOLD;
  font-size: 14px;
  padding-left: 13px;
}

.filtre li {
  font-weight: bold;
  margin-top: -9px;
  margin-left: 2em;
  font-size: 12px;
}

figure p {
  font-size: 12px;
  margin-top: 6px;
}

/*----------------------------------------POPULAIRES---------------------------------*/
#secondblock {
  display: flex;
  flex-wrap: wrap;
}

#secondblock {
  font-size: 13px;
}

#populaire {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 20px;
}

#populaire img {
  width: 128px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

#populaire figure {
  background-color: white;
  border-radius: 10px;
  width: 85%;
  height: 120px;
  padding: 5px;
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-top: 4px;
}

#populaire h2 {
  margin-left: 2.5em;
  margin-top: 2em;
  font-weight: bold;
  font-size: 16px;
}

.fa-chart-line {
  color: black;
  width: 70px;
  float: right;
}

/*--------------------------------ACTIVITES---------------------------------------------------------*/
#act {
  margin: 1em;
}

#activite {
  display: flex;
  margin-top: 1em;
  flex-flow: wrap;
}

#act h2 {
  margin-bottom: -11px;
}

#act p {
  font-size: 12px;
  font-weight: bold;
  padding: 1em;
}

/*--------1er type -----------------*/
.vp {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  box-shadow: 5px 5px 5px #f2f2f2;
  height: 473px;
  margin-left: 14px;
  margin-right: -6px;
}

.vp img {
  width: 300px;
  height: 425px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

/*-------2eme type------------*/
.fp {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 225px;
  box-shadow: 5px 5px 5px #f2f2f2;
  margin-bottom: 6em;
}

.fp img {
  width: 300px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

/*--------3eme type-----------*/
.if {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 180px;
  box-shadow: 5px 5px 5px #f2f2f2;
  margin-bottom: 7em;
}

.if img {
  width: 300px;
  height: 130px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

/*--------------------------------------------FOOTER----------------------------------*/
footer {
  background-color: #f2f2f2;
  display: flex;
  padding: 5px;
  margin: -22px;
  margin-top: 30px;
}

footer div {
  margin: 40px;
  display: flex;
  flex-direction: column;
  padding-right: 180px;
}

div p {
  line-height: 2px;
}

footer p {
  font-size: 12px;
  font-weight: lighter;
}

footer h1 {
  font-size: 13px;
}

/*--------------------css des étoiles *--------------------------------------------*/
.rating {
  width: 214px;
}

.fa-star {
  color: gray;
  cursor: pointer;
  padding: 0.0625rem;
}

.fa-star.gold {
  color: #0065fc;
}

/* Le groupe '.stars' positionne les étoilesles unes à côté des autres sans espacements. */
.stars {
  display: inline-flex;
  justify-content: center;
  font-size: 1em;
}

.stars:hover .fa-star {
  color: #0065fc;
}

/* Et si la souris survole une étoile en particulier,on sélectionne toutes les étoiles qui sont APRÈS celle-cigrâce à l'opérateur '~' et on les force en GRIS */
.stars .fa-star:hover ~ .fa-star {
  color: gray;
}

#secondblock .rating {
  margin-top: 47px;
}
/*----------------------------------------------------------------------------------*/

.fas fa-chart-line {
  width: 100px;
}

.nav2 li:hover {
  background-color: #f2f2f2;
}

@media (min-width: 321px) and (max-width: 820px) {
  /*style smartphones et petites tablettes en portrait*/
  /*Barre de navigation du haut*/
  html {
    overflow-x: hidden;
  }
  .bande {
    border: none;
    width: 50%;
    border-bottom: solid blue;
  }

  .navact {
    width: 50%;
    border-bottom: solid #f2f2f2;
  }

  .navinsc {
    font-weight: bold;
  }
  .nav1 ul {
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
  }

  header img {
    width: 9em;
  }
  /*-----------------------------------*/
  header h2 {
    font-size: 15px;
    padding-left: 6px;
    padding-top: 150px;
  }

  .un p {
    font-weight: lighter;
  }
  .filtre {
    margin-left: -36px;
  }

  /*-------Gros bloc-----*/
  #gros {
    flex-direction: column-reverse;
  }
  #populaire {
    width: 700px;
    margin: -20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  #populaire figure {
    width: 320px;
    margin-left: 27px;

    word-wrap: break-word;
    box-shadow: 2px 8px 10px 1px #c1c1c1;
  }
  figure p {
    font-size: 10px;
  }

  #hebergement {
    width: 100%;
    margin: 0;
    background-color: white;
  }

  #hebergement figure {
    box-shadow: 2px 8px 10px 1px #c1c1c1;
  }
  /*------Deuxième bloc------*/
  #firstblock figure {
    width: 350px;
  }

  /*--------Bloc activité------*/

  .vp {
    width: 300px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 30px;
  }

  .vp img {
    width: 300px;
    height: 100px;
  }

  .fp {
    width: 300px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 30px;
  }

  .fp img {
    width: 300px;
    height: 100px;
  }

  .if {
    width: 300px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 30px;
  }

  .if img {
    width: 300px;
    height: 100px;
  }
  /*-----Footer-----*/
  footer {
    display: flex;
    flex-direction: column;
  }
  footer p {
    line-height: 0px;
  }

  footer div {
    margin: 20px;
    padding-right: 0;
  }
}
